<h1 style="text-align: center;">HQPlus assignment</h1>
<h1 style="text-align: center;">For JOB</h1>
<h1 style="text-align: center;">Backend Developer</h1>
<h1 style="text-align: center;">&nbsp;</h1>
<h2 style="text-align: center;">Submit By : Tahir Majeed&nbsp;</h2>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: left;">How to run and test api ?&nbsp;</p>
<p style="text-align: left;">-&nbsp;<a title="Open " href="http://localhost:53868/api/Hotels?hotelId=7294&amp;arrivalDate=2016-03-15" target="_blank" rel="noopener">Test Url</a>&nbsp;- Open this url it will pass Hotel Id '7294' and Date '2016-03-15' which will filter json file and return json string as output.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">Thanks and regards.</p>